
# Note we depend on NODE_ENV being set to dictate which of the env variables below get loaded at runtime. 
# See README for more details.

# This is standard running mongodb locally
MONGODB_URI=mongodb://192.168.99.100:27017/SingleProjectBusiness

SERVER_PORT=3000
